@include aoa-bg-series($bg__init,$classes_init);

.garden{
    &-s1{
        background-position: bottom!important;
    }
    &-s3{
        *{
            color: #fff !important;
            text-shadow: $text__shadow;
        }
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}

.plants{
    &-s3{
        *{
            color: #fff !important;
            text-shadow: $text__shadow;
        }
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}

.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}

textarea{
    resize:none;
}

@media all and (max-width: 767px){
    .index{

    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color: #fff !important;
            }
            background-color: #666!important;
            border: 1px solid #333;
            opacity: 0.9;
        }
    }
}