$prefix: "../../";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__garden-img: 
    $prefix+"img/garden/garden-s1.jpg",
    $prefix+"img/garden/garden-s2.jpg",
    $prefix+"img/garden/garden-s3.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__info-img: 
    $prefix+"img/info/info-s1.jpg",
    $prefix+"img/info/info-s2.jpg",
    $prefix+"img/info/info-s3.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__plants-img: 
    $prefix+"img/plants/plants-s1.jpg",
    "",
    $prefix+"img/plants/plants-s2.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__init:
    "comingsoon",
    "contact",
    "error",
    "garden",
    "index",
    "info",
    "login",
    "plants",
    "privacy";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__garden-img,
    $bg__index-img,
    $bg__info-img,
    $bg__login-img,
    $bg__plants-img,
    $bg__privacy-img;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;